.content {
  position: relative;
  display: flex;
  height: calc(100% - 97px); // TODO: fix

  &__main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 235px;
    padding: 0 11px;
  }

  &__table {
    display: flex;
    flex-direction: column;
  }

  &__table-row {
    display: grid;
    grid-template-columns: 100px 3fr repeat(4, 1fr);
  }

  &__table-rows {
    width: auto;
    line-height: 38px;
  }

  &__table-column {
    color: $gray;
    padding: 12px;
    font-size: 0.875rem;
  }

  &__table-rows {
    border-top: 1px $black-border solid;
    padding: 20px 12px;
  }

  &__table-icons {
    transition: background-color 0.1s;
    border-radius: 6px;
    width: max-content;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 3px;

    > .content__table-icon {
      display: none;
    }

    &:hover {
      background-color: $black-border;

      > .content__table-icon {
        display: block;
      }
    }
  }

  &__table-icon {
    cursor: pointer;
    &--show {
      display: block !important;
    }
  }
}